<!DOCTYPE html>
<html>
    <head>
        <title>Task Page</title>
        <script src="https://code.jquery.com/jquery.min.js"></script>        
        <script  type="text/javascript">
         
         var workerId = "{{workerId}}";
         var ws;
         var msg = {"mode":"select"};
         var idle_time = 0;
         var idle_clock;
         var ready_countdown;
         
         var byId = function( id ) {
             return document.getElementById( id );
         };
         var byName = function( name ) {
             return document.getElementsByName( name );
         };

         function disable_area(id){             
             $('#'+id).find('input, textarea, button, select').attr('disabled',true);
         }
         function enable_area(id){             
             $('#'+id).find('input, textarea, button, select').attr('disabled',false);
         }

         function hide_all(){
             var x = document.getElementsByClassName('mode');
             var i;
             for (i = 0; i < x.length; i++) {
                 disable_area(x[i].id);
                 x[i].style.display = "none";
             }
         }
         function error(){
             hide_all();
             //byId('error').style.display = 'block';
         }

         function send_select(preference){             
             msg.mode = "select";
             msg.preference = preference;
             ws.send(JSON.stringify(msg));
         }

         function send_logout(){
             ws.close();
         }

         function gen_branch(){
             byId("branch_instructions").innerHTML = msg.branch_task;
         }
         function gen_leaf(){
             byId("leaf_instructions").innerHTML = msg.leaf_task;
         }
         function send_leaf(){
            console.log("Leaf send")
             msg.mode = "leaf";
             msg.leaf_data = byId("leaftask_text").value;
             ws.send(JSON.stringify(msg));
         }
         
         function send_branch() {
             msg.mode = "branch";
             if(document.BranchForm.choice[1].checked)
                 send_leaf();
             else{                 
                 var num = byId('branchnum').value;
                 for(i=0; i<num;i++){
                    console.log("Branch send")
                     var sub_is_branch = (byName("Task"+i+"Pred")[0]).checked; //leaf = 1
                     console.log("Branch data is " + byId("branch_task"+i).value);
                     msg.branch_data.push(byId("branch_task"+i).value);
                     if(sub_is_branch)
                         msg.branch_data_type.push("branch");
                     else
                         msg.branch_data_type.push("leaf");
                         
                 }
                 byId('branch').innerHTML = "Thank you ! Now, wait to supervise your task ";
                 ws.send(JSON.stringify(msg));
             }
         }
         
         function insert_sap_insn_html(){
             var num = msg.sap_task.length;
             byId('SapForm').innerHTML ="";
             for(i=0; i<num;i++){
		 var html = 
		 "<div style='clear:both;'> \
                                          <b>Original Task"+i+" Instructions:</b> <br> <label id='sap_task"+i+"'></label><br><br>\
                                          <b>Worker Output:</b> <br> <label id='sap_work"+i+"'></label><br><br>\
                                          <b>Reject it?:</b> <input id='sap_reject"+i+"' type='checkbox'  value='reject'> <br><br>\
                                          <b>Rating (bad<->good):</b><input id='sap_rating"+i+"' type='range'  value='5' min='0' max='10'> \
                                          
      </div><br>"
                 byId('SapForm').innerHTML += html;
             }
             byId('SapForm').innerHTML += "<b>Your Work:</b><br><textarea name='sap_data' id='sap_data'\
             class='box' type='text' placeholder='Leaf Task Space' maxlength='500'\
             style='width:350px; height:150px; float:left' required></textarea>"

         }
         
         function gen_sap(){
             insert_sap_insn_html();
             var num = msg.sap_task.length;
             for(i=0; i<num;i++){
                 byId("sap_task"+i).innerHTML += msg.sap_task[i];
                 byId("sap_work"+i).innerHTML += msg.sap_work[i];
             }

         }

         function send_sap(){
             msg.mode = "sap";
             var num = msg.sap_task.length;
             for(i=0; i<num;i++){
                 msg.sap_rating.push(byId("sap_rating"+i).value);
                 msg.sap_reject.push(byId("sap_reject"+i).checked);
                 msg.sap_data = byId("sap_data").value;
             }
             ws.send(JSON.stringify(msg));
         }

         
         function send_super() {
             msg.mode = "super";
             msg.super_approve = byId('super_approve').checked;
             msg.super_feedback = byId('super_feedback').value;
             ws.send(JSON.stringify(msg));
         }
         
         function gen_super() {
             if(msg.super_child_data_type == "leaf"){
                 byId('super_child_data').innerHTML = msg.super_child_data;
             }
             else{
                 for(i=0; i<msg.super_child_data.length;i++){
                     byId('super_child_data').innerHTML += "Branch: " + i + ", predicted type: "  + msg.super_child_data_pred[i] + "<br> Instructions: <br>" + msg.super_child_data[i] + "<br><br>";
                 }               
             }

             var num = msg.super_child_num;
             byId('super_child_num').innerHTML = num;
             byId('super_branch_data').innerHTML = msg.branch_data[num];
             byId('super_branch_data_type').innerHTML = msg.branch_data_type[num];
             byId('super_child_data_type').innerHTML = msg.super_child_data_type;
         }

         function start_idle_clock(is_restart){
             if(is_restart){
                 idle_time = 0;
             }
             idle_clock = setInterval(function() {
                     idle_time += 1;
                     if(idle_time > 3600)
                         send_logout();
                     byId('idle_timer').innerHTML = "You've been idle for "+idle_time+" Seconds";
                 }
                 , 1000);
         }         
         function stop_idle_clock(){
             clearInterval(idle_clock);
         }         
         function start_ready_countdown(){
             var n = 0;
             var ready_limit = 3000;
             ready_countdown = setInterval(function(){
                 n += 1;
                 if( n > ready_limit)
                     send_ready("decline");
                 byId('ready_timer').innerHTML = "You have "+(ready_limit-n)+" seconds to accept.";
             }, 1000);
         }        
         function send_ready(choice){
             clearInterval(ready_countdown);
             clearInterval(idle_clock);
             if(choice != "accept")
                 start_idle_clock(false);
             hide_all();
             msg.mode="ready";
             msg.preference=choice;
             ws.send(JSON.stringify(msg));
             msg.mode="idle";
         }

         function gen_hud(){
             byId('hud').innerHTML = "<b>Statistics:</b>" +
            "Lifetime Tasks Completed: "+        msg.ltc+"<br>"+
            "Lifetime Money Earned: "+           msg.lme+"<br>"+
            "Lifetime Time Active: "+            msg.ta+"<br>"+
            "Lifetime Hourly Rate: "+            msg.hr+"<br>"+
            "Lifetime Approval Rate: "+          msg.ar+"<br>"+
            "Branch Points: "+                   msg.bp+"<br>"+
            "Leaf Points: "+                     msg.lp+"<br>"+
            "Sap Points: "+                      msg.sp+"<br>"+
            "Tasks Completed This Session: "+    msg.tcts+"<br>"+
            "Money Earned This Session: "+       msg.mets+"<br>";
         }

         function show_hud(){
             byId('hud').style.display='block';
             byId('show_hud').style.display='none';
             byId('hide_hud').style.display='block';
             hide_all();
         }
          
         function hide_hud(){
             byId('hud').style.display='none';
             byId('hide_hud').style.display='none';
             byId('show_hud').style.display='block';
             byId(msg.mode).style.display = 'block';
             enable_area(msg.mode);
             if(msg.mode == 'ready')
                 gen_preview();
         }

         function gen_preview(){
             console.log("in gen preview");
             byId(msg.preference).style.display = 'block';
             disable_area(msg.preference);
         }

         window.onload = function(){
             var ws_url;
             if("{{local_testing}}" == "True")
                 ws_url = "ws://localhost:{{port}}{{url_prefix}}/websocket?workerId="+"{{workerId}}&hitId="+"{{hitId}}";
             else
                 ws_url = "wss://crowd.ecn.purdue.edu{{url_prefix}}/websocket?workerId="+"{{workerId}}&hitId="+"{{hitId}}";

             hide_all();
             hide_hud();
             
             ws = new WebSocket(ws_url);
             console.log("Websocket created = "+ws_url);

             ws.onmessage = function(event)
             {
                 var is_idle = (msg.mode == "idle");
                 msg = JSON.parse(event.data);

                 
                 if(is_idle && msg.mode != "ready"){
                     console.log("another message that was not 'READY' came during an idle state.");
                     msg.mode = "idle";
                     return;
                 }
                 console.log('Msg mode is '+msg.mode);
                 
                 hide_all();
                 hide_hud();                 
                 byId(msg.mode).style.display = 'block';
                 enable_area(msg.mode);
                 
                 switch(msg.mode){
                     case "hud": gen_hud();
                         break;
                     case "idle": start_idle_clock(true);
                         break;
                     case "select":
                         break;
                     case "ready":
                         start_ready_countdown();
                         stop_idle_clock();
                         gen_preview();//stop idle counter & flash
                         break;
                     case "leaf": 
                        console.log('gen_leaf');
                        gen_leaf();
                         break;
                     case "branch":
                        console.log('gen_branch');
                        gen_branch();
                        break;
                     case "sap": 
                        console.log('gen_sap()');
                        gen_sap();
                        break;
                     case "super":                  //Supervisor needs to approve the task  
                        console.log('gen_super()');
                        gen_super();
                         break;
                     case "logout": send_logout();
                         break;
                     default:
                         error();
                 }
             }
             ws.onopen = function(evt){}
             ws.onclose = function(evt){
                 msg.mode = "logout";
                 ws.send(JSON.stringify(msg));
                 byId("AMT_form").submit();
             }
             
             ws.onerror = function(evt){
                 console.log("Error = " + evt.data);
             }

         };

         function insert_branch_tasks_html()
         {
             var num = byId('branchnum').value;
             byId('BranchBranchForm').innerHTML ="";
             for(i=0; i<num;i++){
		 var html = " <label><b>SubTask Instructions</b> </label>\
                                          <textarea required name='branch_task"+i+"' id='branch_task"+i+"' class='box' type='text' placeholder='Leaf Task Space' maxlength='500' style='width:350px; height:150px; float:left;'></textarea>\
                                          <label class='field'><br>According to you, should this task be <br></label>\
                                          <input name='Task"+i+"Pred' type='radio'  value='branchnext' checked='checked'>Branched into subtasks by further by another worker<br>\
                                          <input name='Task"+i+"Pred' type='radio'  value='leafnext' > Completed by a single worker\
</br >";
                 byId('BranchBranchForm').innerHTML += html;
             }
         }
         function LorB_choice()
         {
             if(document.BranchForm.choice[1].checked) 
             { 
                 var html = "<label class='red'>Task Space</label> \
      <textarea name='leaftask' id='leaftask_text' type='text' placeholder='Space for Task' maxlength='500' style='width:350px; height:150px;' required></textarea>"
                 byId("BranchLeafForm").innerHTML =html;
                 byId('BranchBranchForm').innerHTML ="";
                 byId('BranchSelect').innerHTML ="";
                 byId("SubmitBranch").value ="Submit Task";

             }
             else
             {
                 var  html = "<label>Number of Branches</label>\
      <select required id='branchnum' onchange='insert_branch_tasks_html()'>\
        <option value='2'>2</option>\
        <option value='3'>3</option>\
        <option value='4'>4</option>\
        <option value='5'>5</option>\
      </select><br>";
                 byId('BranchSelect').innerHTML = html;
                 insert_branch_tasks_html();
                 byId("BranchLeafForm").innerHTML ="";
                 byId("SubmitBranch").value ="Post Branches as HITs";
             }
         }


        </script>
        
    </head>
    <body > 
        
        <div class="mode" id="select">
            <h1>Welcome to TIDAL Task Force</h1>
            <h2> Please select what type of work you would like to do today. </h2>
            
	    <input type="button" value="Branch" onclick="send_select('branch')"> </br>
	    <input type="button" value="Leaf" onclick="send_select('leaf')"> </br>
	    <input type="button" value="Sap" onclick="send_select('sap')"> </br>

        </div>
        <div class="mode" id="idle">
            <h2> There are currently no tasks to be done. Please wait until one becomes available 
                and we'll notify you. In the meantime you will still be compensated at the rate of 
                $1.20 per hour to be on hold.</h2>
            <div id="idle_timer"></div>
            
        </div>
        
        <div class="mode" id="ready">
            <h1>Hey! We found you a task! Here's a Preview:</h1>
	    <input type="button" value="Accept" onclick="send_ready('accept')"> </br>
            <input type="button" value="Decline" onclick="send_ready('decline')"> </br>
            <div id="ready_timer"></div>
        </div>
        
        <div class="mode" id="branch" >
            <form name="BranchForm" method="post" onsubmit="send_branch()" action="javascript:void(0);">
	        <input name="parent" id="parent" type="hidden" value = "1">
                    <b>Instructions:</b><br><br>
                    <label class='red' id="branch_instructions"></label>
                    <br><br>
	            <div id="LorB">
	                <label class="field">You choose to </label>
	                <input name="choice" type="radio"  value="branch" onclick="LorB_choice()"> Branch This Task Further 
	                <input name="choice" type="radio"  value="leaf" onclick="LorB_choice()" checked="checked"> Accept It <br>    		
	            </div>
	            <div id="BranchSelect"></div>
	            <div id="BranchLeafForm"></div>
	            <div id="BranchBranchForm"></div>
                    <br>
	            <input type="submit" style='clear:both;float:left' value="Post Branches as tasks" id="SubmitBranch"> </br>
            </form>
        </div>

        <div class="mode" id="leaf" >
            <form name="LeafForm" method="post" onsubmit="send_leaf()" action="javascript:void(0);">
	        <input name="parent" id="parent" type="hidden" value = "1"><!-- what's this? -->
	        <fieldset>
	            <div id="LeafForm">
                        <b>Instructions:</b><br><br>
                        <label class='red' id="leaf_instructions"></label><br>
                        <textarea name='leaftask_text' id='leaftask_text' type='text' placeholder='Space for Task' maxlength='500' style='width:350px; height:150px;' required>
                        </textarea>
                    </div>
	            <input type="submit" style='clear:both;float:left' value="Submit Task" id="SubmitLeaf"> </br>
	            <!--<input counterforcash>-->
	        </fieldset>
            </form>
        </div>

        
        <div class ="mode" id="sap">
            <form name="SapForm" method="post" onsubmit="send_sap()" action="javascript:void(0);">
	        <input name="parent" id="parent" type="hidden" value = "1"><!-- what's this? -->
	        <fieldset>
	            <div id="SapForm">
                    </div>
	            <input type="submit" style='clear:both;float:left' value="Submit Task" id="SubmitSap"> </br>
	            <!--<input counterforcash>-->
	        </fieldset>
            </form>
        </div>

        
        <div class ="mode" id="super">
            <form name="SuperForm" method="post" onsubmit="send_super()" action="javascript:void(0);">
                <b>Results of Worker Who Accepted Your Subtask #
                <label id='super_child_num'></label> :</b> <br>
                Your Instructions: <label id='super_branch_data'></label> <br>
                You predicted this would be a <label id='super_branch_data_type' style="color:red"></label> type node.<br>
                The worker completed it as a <label id="super_child_data_type" style="color:red"></label> type node. <br><br>
                The worker response: <br><label id="super_child_data"></label>
                <label class='field'><br>Approved </label>
                <input name='super_approve' id='super_approve' type='checkbox' default='unchecked' value='Approved' ></br >
                <textarea name='super_feedback' id='super_feedback' class='box' type='text' placeholder='Feedback' maxlength='500' style='width:350px; height:150px; float:left' <!-- required? -->> </textarea>
                
	            <input type="submit" style='clear:both;float:left' value="Submit Supervision" id="SubmitSuper"> </br>
                <br>
                

            </form>
        </div>


        <div class="hud" id="hud">
            "Sorry, no statistics right now"
        </div>
        
	<input type="button" value="LOGOUT and COLLECT MONEY" onclick="send_logout()"> </br>
	<input type="button" id="show_hud" value="Show Stats" onclick="show_hud()"> </br>
	<input type="button" id="hide_hud" value="Hide Stats" onclick="hide_hud()"> </br>
        
        <form action="{{turkSubmitTo}}"" type="hidden" method='POST' id="AMT_form">
            <input type="hidden" name="hitId" value="{{hitId}}"> 
            <input type="hidden" name="workerId" value="{{workerId}}">
            <input type="hidden" name="assignmentId" value="{{assignmentId}}">
        </form>
        
    </body>

