<!DOCTYPE html>
<!-- (c) Copyright 2015 Purdue University - MIT License -->
<html style="height:100%" class="unselectable">
<head>
  <meta charset="utf-8">
  <title>Drag some colors!</title>
  <link rel="stylesheet" href="{{ static_url("main.css") }}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/sockjs/0.3/sockjs.min.js"></script>

  <script>
    
    ws = new SockJS('http://127.0.0.1:8008/echo');

    var isMouseDown = false;
    var mycolor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);

    $(window).mousedown(function(){
        isMouseDown = true;
    });

    $(window).mouseup(function(){
        isMouseDown = false;
    });

    $(window).mousemove(function(event){
        if(isMouseDown){
            var coords = {
                xpos: event.clientX,
                ypos: event.clientY,
                color:mycolor
            }
            var sendmsg = JSON.stringify(coords);
            ws.send(sendmsg);
        }
    });

    ws.onmessage = function(event) {
        
        var msg = JSON.parse(event.data);
        document.getElementById("demo").innerHTML = "x:"+msg.xpos+",y:"+msg.ypos; 

        $(".square").css({
            left: msg.xpos,
            top: msg.ypos  
        });
        <!-- having some trouble adding in bg color using .css() the other way... -->
        $(".square").css("background-color",mycolor);
    };
    
  </script>

</head>
<body class="unselectable" style="height:100%" >

  <!-- Text input for new messages -->
  HEY WHAT'S UP!
  <p class="unselectable" id="demo"> </p>

  <div class="square">  </div>

</body>
</html>
<!-- vim: set fileencoding=utf-8 tabstop=2 shiftwidth=2 expandtab: -->
