<!DOCTYPE html>
<!-- (c) Copyright 2015 Purdue University - MIT License -->
<html >
<head>
  <meta charset="utf-8">
  <title>Login to Tidal</title>
  <link rel="stylesheet" href="{{ static_url("main.css") }}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  <script>
    

  </script>

</head>
<body >

  <!-- Text input for new messages -->
  are you a requester or developer?

  <form action="/08/login" method="post">
    <input type="submit" name="requester" value="requester">
  </form>
  <form action="/08/login" method="post">
    <input type="submit" name="developer" value="developer">
  </form>
  
</body>
</html>
<!-- vim: set fileencoding=utf-8 tabstop=2 shiftwidth=2 expandtab: -->
