<!DOCTYPE html>
<!-- (c) Copyright 2015 Purdue University - MIT License -->
<html >
<head>
  <meta charset="utf-8">
  <title>Tidal Requester!</title>
  <!--<link rel="stylesheet" href="{{ static_url("main.css") }}"><link>-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/sockjs/0.3/sockjs.min.js"></script>

  <script>
    
    <!--ws = new SockJS('http://127.0.0.1:8008/echo');-->

  </script>

</head>
<body >

  <!-- Text input for new messages -->
  This is the Requester Work Pool Preview Page. 
  
  Add a new task:
  <form action="{{url_prefix}}/RequesterWorkMgr" method="post">
    <input type="submit" name="logout" value="logout">
  </form>
  <form action="{{url_prefix}}/RequesterWorkMgr" method="post">
    <input type="submit" name="login" value="login">
  </form>
  
</body>
</html>
<!-- vim: set fileencoding=utf-8 tabstop=2 shiftwidth=2 expandtab: -->
